doctype html
html
  style.
    html:not(.gss-ready){ display: none; }
  script(src="/build/build.js")
  link(rel="stylesheet" type="text/gss" href="/gss/index.gss")
  title Jason Rose-Kuhrt

body
  .box
    p testing