doctype html
html
  link(rel="stylesheet" type="text/gss" href="gss/index.gss")
  style.
    html:not(.gss-ready){ display: none; }
  script(src="build/build.js")
  title Jason Rose-Kuhrt

body
  .box
    p testing